* {
    font-family: sans-serif;
}
.banner {
    width: 100%;
    height: 100vh;
    background-image:url(blue-white-sky-silhouette-clouds-sports-powerpoint-background_cc5221739f__960_540.avif);
    background-size: cover;
    background-position: center;
}
   td , th{
    padding: 15px 20px;
    text-align: center;
   }

   th{
    background-color: #56a2e9;
    color: #fafafa;
    font-weight: 200;
   }

   tr{
    width: 100%;
    background-color: #fafafa;
   }

